{% load static %}
<!DOCTYPE html>
<html>
	<head>
	    <title>Accelerate - About BIT</title>
	    <!-- Font -->
	    <link rel="preconnect" href="https://fonts.gstatic.com">
	    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

	    <!-- CSS -->
	    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	</head>

	<body>
		<nav class="navbar sticky-top navbar-expand-lg navbar-dark"style="background-color: blueviolet;>
		    <a class="navbar-brand" href="#">
		        <img src="{% static 'img/logo.jpeg' %}" width="50" height="40" class="d-inline-block align-top" alt="Company Logo" loading="lazy">
		    </a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		    </button>

		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		        <ul class="navbar-nav mr-auto">
		            <li class="nav-item">
		                <a class="nav-link" href="/">Home </a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="/announcements">About Us</span></a>
		            </li>
		         </ul>
					{% if user.is_authenticated %}
					<a class="nav-link" style="color: white" href="/accounts/profile" >Profile</a>
					<a class="nav-link" style="color: white" href="/accounts/simplecheckout">Payment</a>
					<a class="nav-link" style="color: white" href="/accounts/busfaculty">Bus Faculty</a>
					<a class="nav-link" style="color: white" href="accounts/busdetails">Bus Details</a>
					<a class="btn btn-outline-light btn-sm" href="/accounts/logout" role="button">Log Out</a>
					{%else%}
		        <div class="btn-group">
	                <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">LOGIN/SIGNUP</button>
	                <div class="dropdown-menu">
							<a class="dropdown-item" id="loginmenu" href="/accounts/studentlogin">User</a>
							<a class="dropdown-item" id="loginmenu" href="/admin">Admin</a>

	                </div>
					</div>
					{%endif%}
		    </div>
	    </nav>
	    <div class="container" ; style="padding: 100px;">
	    	<hr>
	    	<h1 style="text-align: center;">ABOUT BIT</h1>
	    	<hr>
	    	<img class="mb-4 imgdisplay" src="{% static 'img/logo.jpeg' %}" alt="Company Logo" width="252" height="202">
	    	<p style="text-align: justify; margin-top: 40px;">
				<br>
					Bangalore Institute of Technology (BIT) was started in the year 1979 with the objective of providing quality education in the ﬁeld of Technology and thereby serving the society. It has reached enviable level of excellence in technical education. This was achieved due to the unconditional support of Rajya Vokkaligara Sangha, committed staff and students. The environment of BIT motivates the student to quench their thirst for knowledge. The college thrives to achieve the all-round development of the students.
				</br>
	<br>
	BIT has always been at the forefront of modern technology and has the distinction of being the ﬁrst College to introduce a full-ﬂedged degree in Computer Science and Engineering in Karnataka. The institute has visualized the areas of future growth and incorporated various courses over the years. At present BIT has 10 undergraduate, 10 post graduate and 13 research centers. BIT has an annual intake of 1300 students. There are a number of centers carrying out inter-disciplinary research and many collaborative programs exist between the college and other professional institutions, like IISc, NAL. The Chemistry department has been recognized as one of the latest research centers in Karnataka. BIT also has the acclaim of being the Study center for IGNOU programmes.
</br>
	<br>
	BIT is proud to say that it has 289 faculty members with excellent knowledge and teaching caliber. 83 faculty members have PhD degree and 71 are pursuing PhD. Sixty percent of faculty members have served BIT for more than twenty years. The Institution has 294 efficient and committed team of supporting staff.
</br>
			</p>
	    </div>
		<footer>
	        <div class="row">
	            <div class="col-sm-4">
	                <img src="{% static 'img/logo.jpeg' %}" width="200" height="150" alt="Company Logo">
	            </div>
	            <div class="col-sm-4">
	                <p><a href="/about" class="footerlinks">About BIT</a></p>
	                <p><a href="" class="footerlinks">Privacy Policy</a></p>
    	            <p><a href="" class="footerlinks">Terms and Conditions</a></p>
	            </div>
	            <div class="col-sm-4">
	                <p>Contact Us: </p>
	                <p>Phone : +91 9988667755</p>
	                <p><a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new" class="footerlinks">Email : support@accelerate.com</a></p>
	            </div>
	        </div>
	        <p class="text-center">Copyright &copy; Accelerate 2022. All rights reserved.</p>
	        <p class="text-center">Made with &hearts; in India</p>
	    </footer>
	    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  	</body>
</html>
